<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header"><a class="navbar-brand" href="#">我的拉钩职位管理系统</a></div>

      <ul class="nav navbar-nav" id="my-nav">
        <li><a href="/">首页</a></li>
        <li><a href="/html/list.html">职位列表</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li data-toggle="modal" data-target="#loginModal"><a href="#">登录</a></li>
        <li data-toggle="modal" data-target="#registerModal"><a href="#">注册</a></li>
      </ul>
    </div>
  </div>
</nav>