<nav>
  <ul class="pagination">
    <li class="disabled" id="prev-page"><a href="javascript:;"  aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <!-- current total-->
    <% for(var i = current-2; i <= current+2; i++){ %>
      <% if(i>0 && i <= total){ %>
        <li class="page <%= i==current? 'active': '' %>"><a href="javascript:;"> <%= i %> </a></li>
      <% } %>
    
    <% } %>


    <li id="next-page"><a href="javascript:;" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>