
    <tr>
      <td>1</td>
      <td>
        <span>web前端开发</span>
        <input type="text">
      </td>
      <td>
        <span>千锋</span>
        <input type="text">
      </td>
      <td>
        <span>8000</span>
        <input type="text">
      </td>
      <td>
        <button class="btn btn-info btn-xs editBtn">编辑</button>
        <button class="btn btn-danger btn-xs delBtn">删除</button>
        <button class="btn btn-success btn-xs okBtn">确定</button>
        <button class="btn btn-warning btn-xs cancelBtn">取消</button>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <span>web前端开发</span>
        <input type="text">
      </td>
      <td>
        <span>千锋</span>
        <input type="text">
      </td>
      <td>
        <span>8000</span>
        <input type="text">
      </td>
      <td>
        <button class="btn btn-info btn-xs editBtn">编辑</button>
        <button class="btn btn-danger btn-xs delBtn">删除</button>
        <button class="btn btn-success btn-xs okBtn">确定</button>
        <button class="btn btn-warning btn-xs cancelBtn">取消</button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <span>web前端开发</span>
        <input type="text">
      </td>
      <td>
        <span>千锋</span>
        <input type="text">
      </td>
      <td>
        <span>8000</span>
        <input type="text">
      </td>
      <td>
        <button class="btn btn-info btn-xs editBtn">编辑</button>
        <button class="btn btn-danger btn-xs delBtn">删除</button>
        <button class="btn btn-success btn-xs okBtn">确定</button>
        <button class="btn btn-warning btn-xs cancelBtn">取消</button>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <span>web前端开发</span>
        <input type="text">
      </td>
      <td>
        <span>千锋</span>
        <input type="text">
      </td>
      <td>
        <span>8000</span>
        <input type="text">
      </td>
      <td>
        <button class="btn btn-info btn-xs editBtn">编辑</button>
        <button class="btn btn-danger btn-xs delBtn">删除</button>
        <button class="btn btn-success btn-xs okBtn">确定</button>
        <button class="btn btn-warning btn-xs cancelBtn">取消</button>
      </td>
    </tr>